.c1{
  border-radius: 10px;
  height:500px;
  width:500px;
  margin-left: 30vw;
  background-color: rgb(255, 41, 41);
  font-size: x-large;
  color:white;
  padding:10px;
  input{
    height:30px;
    width:95%;
    border-radius: 5px;
  }
  #submit{
    width: 50%;
    bottom: 0;
    margin-left:22%;
    margin-top:10px;
  }
  #submit:hover{
    cursor:pointer;
  }
  .plain{
    font-size:large;
  }
}